<div class="qualities">

    <div class="page-title"><span>Qualities</span></div>

    <div class="subtitle">
      <i class="material-icons">equalizer</i>
      <span>What are my areas of expertise?</span>
    </div>

    <div class="areas">

      <div class="area">
        <div class="title">
          <div class="image">
            <img src="">
          </div>
          <div class="subject"></div>
        </div>
        <div class="rankings">
          <div class="ranking">Low</div>
          <div class="ranking">Medium</div>
          <div class="ranking">High</div>
          <div class="ranking">Advanced</div>
        </div>
      </div>

      <div class="area">
        <div class="title">
          <div class="image">
            <img src="assets/images/programming/html5.png">
          </div>
          <div class="subject">HTML5</div>
        </div>
        <div class="rankings">
          <div class="ranking"><i class="material-icons">star</i></div>
          <div class="ranking"><i class="material-icons">star</i></div>
          <div class="ranking"><i class="material-icons">star</i></div>
          <div class="ranking"><i class="material-icons">star</i></div>
        </div>
      </div>

    <div class="area">
      <div class="title">
        <div class="image">
          <img src="assets/images/programming/css3.png">
        </div>
        <div class="subject">CSS3</div>
      </div>
      <div class="rankings">
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons">star</i></div>
      </div>
    </div>

    <div class="area">
      <div class="title">
        <div class="image">
          <img src="assets/images/programming/javascript.png">
        </div>
        <div class="subject">Javascript</div>
      </div>
      <div class="rankings">
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons"></i></div>
      </div>
    </div>

    <div class="area">
      <div class="title">
        <div class="image">
          <img src="assets/images/programming/php.png">
        </div>
        <div class="subject">PHP 7+</div>
      </div>
      <div class="rankings">
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons"></i></div>
      </div>
    </div>

    <div class="area">
      <div class="title">
        <div class="image">
          <img src="assets/images/programming/mysql.png">
        </div>
        <div class="subject">MySQL</div>
      </div>
      <div class="rankings">
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons"></i></div>
      </div>
    </div>

    <div class="area">
      <div class="title">
        <div class="image">
          <img src="assets/images/programming/xml.png">
        </div>
        <div class="subject">XML</div>
      </div>
      <div class="rankings">
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons"></i></div>
      </div>
    </div>

    <div class="area">
      <div class="title">
        <div class="image">
          <img src="assets/images/programming/laravel_icon.png">
        </div>
        <div class="subject">Laravel</div>
      </div>
      <div class="rankings">
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons"></i></div>
      </div>
    </div>

    <div class="area">
      <div class="title">
        <div class="image">
          <img src="assets/images/programming/angular.png">
        </div>
        <div class="subject">Angular</div>
      </div>
      <div class="rankings">
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons">star</i></div>
        <div class="ranking"><i class="material-icons"></i></div>
        <div class="ranking"><i class="material-icons"></i></div>
      </div>
    </div>
</div>
