@import '../../../scss/styles.scss';

.contact {
    width:100%;
    margin-bottom:6rem;

    .intro {

        display:flex;
        flex-flow: column;
        justify-content: flex-start;
        margin-top:4rem;
        padding-bottom:1rem;
        text-align:center;
        color: $white;
        border-bottom:1px solid $JAPANESE_INDIGO;

        .title {
            font-family: $bungeeInline;
            font-size:110%;
        }

        .subtitle {
            font-family: $titiliumWeb;
        }
    }

    .information {
        width:100%;
        margin: 0 auto;
        margin-top:2rem;

        .block {
            color: $white;

            .header {
                display:flex;
                flex-flow:row wrap;
                justify-content: center;

                i {
                    font-size:300%;
                    padding-right:1rem;
                }
            }

            .content {
                margin-top:2rem;
                text-align:center;
                font-size:110%;
                line-height: 2rem;

                .overlay {
                    z-index:10000;
                    background:transparent; 
                    position:relative; 
                    width:100%;
                    @media (min-width:320px) and (max-width:961px) {height:300px; top:300px; margin-top:-300px;}
                    @media (min-width:961px) {height:600px; top:600px; margin-top:-600px;}
                 }
            }
        }

        .name {
            text-align:center;
            width:90%;
            margin: 0 auto;

            .header {
                padding:1rem;
                font-size:110%;
            }

            img {
                max-height:10rem;
            }
        }

        .email {
            margin-top:0.25rem;

            .header {
                opacity:0;
                animation: 5s fadeIn;
                animation-fill-mode: forwards;
            }

            .content {
                margin-top:1rem;
            }
        }

        .phone {
            width:100%;
            margin: 0 auto;
            margin-top:6rem;
            background: $JAPANESE_INDIGO;
            overflow:hidden;

            &:hover {
                animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
                transform: translate3d(0, 0, 0);
                backface-visibility: hidden;
            }

            .header {
                padding: 2rem;
                padding-bottom:1rem;
            }

            .content {
                padding-bottom:2rem;
            }
        }

        .adress {
            margin-top: 3rem;

            .content {

                agm-map {
                    @media (min-width:320px) and (max-width:961px) {height:300px;}
                    @media (min-width:961px) {height:600px;}

                    .info-window {
                        color: $black;

                        .title {
                            display:flex;
                            flex-flow: row wrap;
                            justify-content: flex-start;
                            height:1.5rem;
                            line-height:1.5rem;
                            padding:0.5rem;
                            font-weight:700;
                            color: $white;
                            background: $DARK_SLATE_BLUE;
                        }

                        .adress {
                            margin-top:0.25rem;
                            padding:0.25rem;
                            border: 1px solid $DARK_SLATE_BLUE;
                        }

                        .owner {
                            margin-top:0.25rem;
                        }
                    }
                }
            }
        }
    }
}