@import '../../../scss/styles.scss';

.contact {
    margin-bottom:6rem;

    .information {
        @media (min-width:320px) and (max-width:961px) {width:90%;}
        @media (min-width:961px) {width:75%;}

        margin: 0 auto;
        margin-top:5rem;

        .block {
            color: $white;

            @media (min-width:320px) and (max-width:961px) {padding:1rem;}
            @media (min-width:961px) {padding:2rem;}

            .header {
                display:flex;
                flex-flow:row wrap;
                justify-content: center;

                i {
                    font-size:300%;
                    padding-right:1rem;
                }
            }

            .content {
                margin-top:2rem;
                text-align:center;
                font-size:110%;
                line-height: 2rem;
            }
        }

        .name {
            text-align:center;
            width:90%;
            margin: 0 auto;

            .header {
                padding:1rem;
                font-size:110%;
            }

            img {
                max-height:10rem;
            }
        }

        .email {
            margin-top:1rem;
        }

        .phone {
            margin-top:4rem;
            background: $JAPANESE_INDIGO;
            width:90%;
            margin: 0 auto;

            &:hover {
                animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
                transform: translate3d(0, 0, 0);
                backface-visibility: hidden;
            }
        }

        .adress {
            margin-top: 3rem;

            .content {

                agm-map {
                    height: 600px;

                    .info-window {
                        color: $black;

                        .title {
                            display:flex;
                            flex-flow: row wrap;
                            justify-content: flex-start;
                            height:1.5rem;
                            line-height:1.5rem;
                            padding:0.5rem;
                            font-weight:700;
                            color: $white;
                            background: $DARK_SLATE_BLUE;
                        }

                        .adress {
                            margin-top:0.25rem;
                            padding:0.25rem;
                            border: 1px solid $DARK_SLATE_BLUE;
                        }

                        .owner {
                            margin-top:0.25rem;
                        }
                    }
                }
            }
        }
    }
}