<div class="contact">

  <div class="page-title"><span>Contact</span></div>

  <div class="information">

    <div class="block name">
        <div class="header">Ruben Hazenbosch</div>
        <div class="content">
            <img src="assets/images/ruben-hazenbosch.jpg">
        </div>
    </div>

    <div class="block email" (mouseenter)='mailEnter()' (mouseleave)='mailLeave()'>
        <div class="header"><i class="material-icons">{{ mailIcon }}</i></div>
        <div class="content">rhazen35@gmail.com</div>

        <app-mail-form></app-mail-form>

    </div>

    <div class="block phone">
        <div class="header">
          <i class="material-icons">phone</i>
          <i class="fab fa-whatsapp"></i>
        </div>
        <div class="content">+49 176 32409 429</div>
    </div>

    <div class="block adress">
        <div class="header"><i class="material-icons">home</i></div>
        <div class="content">
            Tilsmaas 3
            <br>
            24364, Holzdorf
            <br>
            Germany
        </div>
    </div>
</div>
