<div class="about">

    <div class="page-title"><span>About Me</span></div>

    <div class="subtitle">
        <div class="name">
            <i class="material-icons">face</i>
            <span>Ruben Hazenbosch</span>
        </div>
        <div class="profession">Web Developer</div>
    </div>

    <div class="stories">

        <div class="story">

            <div class="title">Where it started</div>

            <div class="dates">
                
                <div class="date">
                    <div class="year">2012</div>
                    <div class="description animate-left-cubic-ultrafast">
                        Started programming as a hobby. Next to my work as a fulltime chef, I met the world of technology and future.
                    </div>
                </div>
                <div class="date">
                    <div class="year">2016</div>
                    <div class="description animate-left-cubic-superfast">
                        Followed an education to become a proffesional Application- and Media Developer.
                    </div>
                </div>
                <div class="date">
                    <div class="year">2017</div>
                    <div class="description animate-left-cubic-fast">
                        Finished the education and started working at Quaratio, where I did my 
                        internship. Quaratio specializes in IT solutions for pension and health insurance.
                    </div>
                </div>
                <div class="date">
                    <div class="year">2018</div>
                    <div class="description animate-left-cubic-normal">
                        Moved to Germany and found a job at DF-Automotive, a company that sells rims, 
                        tyres and car-tuning parts.
                    </div>
                </div>
                <div class="date">
                    <div class="year">2019</div>
                    <div class="description animate-left-cubic-slow">Build my portfolio website.</div>
                </div>
                <div class="date">
                    <div class="description animate-left-cubic-slow">
                        For me, programming is still a hobby. I find it interesting to follow new developments and to
                        improve my skills.
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <div class="hobbies">

        <div class="title">
            <i class="material-icons"></i>
            <span>Hobbies</span>
        </div>

        <div class="hobby">

            <div class="title">
                <i class="material-icons">wb_sunny</i>
                <span>Space</span>
            </div>

            <div class="text">
                <div class="image">
                    <img src="assets/images/space/galaxy.png">
                </div>
                The stars have always inspired me. The endless(?) continuous space that has much beauty and new
                elements to discover. It questions everything we think we know and shows us that everything is 
                possible if you know where to look.
                <br><br>
                In my spare time I follow interesting topics and persons like: Stephan Hawkings,
                Elon Musk with SpaceX, Yuval Noah Harari with books about the history of humankind, the now we 
                live in and of course the future we are heading towards (or backwards?).
                <br><br>
                At night I like to look through my telescope and gaze at the stars and moon. Hopefully I will be
                able to locate a planet like Mars!  
            </div>
        </div>

        <div class="hobby">

                <div class="title">
                    <i class="material-icons">code</i>
                    <span>Programming</span>
                </div>
    
                <div class="text">
                    <div class="image">
                        <img src="assets/images/programming/web-developer.jpg">
                    </div>
                    It started as a hobby and it still is my favorite pursuit.
                    <br><br>
                    I love to learn new ways of becomming a better programmer. Improve my current knowledge and widen it
                    with new idea's and skills. When I discovered the Laravel Framework, a new world opened, for me it's
                    the best thing that happened to web development for the last years.
                    <br><br>
                    But... there is always something new louring to be discovered. The Angular Framework is for me the 
                    Next Big Thing. It is very different from Laravel, focussed on the Front-End, where Laravel's main 
                    focus is the Back-End.
                    <br><br>
                    When I started programming, the commmon way to learn was with Youtube videos and Google Search. Now
                    we have website like <a href="https://www.codecademy.com" target="_blank">Codecademy</a>,
                    <a href="https://www.pluralsight.com/" target="_blank">Codecademy</a> and many more.
                </div>
            </div>
    </div>
</div>
