<div class="about">

        <div class="page-title"><span>About Me</span></div>

        <div class="subtitle">
            <div class="name">
                <i class="material-icons">face</i>
                <span>Ruben Hazenbosch</span>
            </div>
            <div class="profession">Web Developer</div>
        </div>

        <div class="stories">

            <div class="story">
                <div class="title">Where it started</div>
                <div class="text">
                    <p>
                        <span>2012</span>Started programming as a hobby. Next to my work as a fulltime chef, I met 
                        the world of technology and future.
                    </p>
                    <p>
                        <span>2016</span>Followed an education to become a proffesional Application- and Media Developer.
                    </p>
                    <p>
                        <span>2017</span>Finished the education and started working at Quaratio, where I did my 
                        internship. Quaratio specializes in IT solutions for pension and health insurance.
                    </p>
                    <p>
                        <span>2018</span>Moved to Germany and found a job at DF-Automotive, a company that sells rims, 
                        tyres and car-tuning parts.
                    </p>
                    <p>
                        <span>2019</span>Build my portfolio website.
                    </p>
                    <p>
                         For me, programming is still a hobby. I find it interesting to follow new developments and to
                         improve my skills.    
                    </p>
                </div>
            </div>

        </div>
</div>
