@import '../../../scss/styles.scss';

footer {
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    position:fixed;
    bottom:0;
    left:0;
    height:1.5rem;
    width:100%;
    line-height:1.5rem;
    padding:1rem;
    font-size:90%;
    color: $white;
    background: $JET;
    border-top: 1px solid $RUBY_RED;
    overflow: hidden;

    i {
        padding-right:0.5rem;
    }

    span {
        font-size:90%;
    }
}