@import '../../../scss/styles.scss';

.header {
    z-index:10000;
    position:fixed;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    height:5rem;
    width:100%;
    top:0;
    left:0;
    font-family: 'Poppins', sans-serif;
    color: $white;
    background: $DARK_SLATE_BLUE;
    border-bottom: 1px solid $DARK_SLATE_BLUE;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(112,112,112,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(112,112,112,1);
    box-shadow: 0px 1px 5px 0px rgba(112,112,112,1);

    .header-icon {
        grid-column: 1/1;
        grid-row: 1;

        a {
            color: $white;
        }
    }

    .header-icon i {
        line-height:5rem;
        padding-left: 1rem;
        font-weight:900;
        font-size:250%;
    }

    .header-title {
        grid-column: 3/5;
        grid-row: 1;
        text-align:center;

        .title {
            font-weight:900;
            font-size:125%;
            line-height:5rem;

            a {
                color: $white;
            }
        }

        .subtitle {
            font-weight:700;
            font-size:90%;
        }
    }
}