@import '../../../scss/styles.scss';

.header {
    z-index:10000;
    position:fixed;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
    height:3.75rem;
    width:100%;
    top:0;
    left:0;
    font-family: 'Poppins', sans-serif;
    color: $white;
    background: $DARK_SLATE_BLUE;
    border-bottom: 1px solid $DARK_SLATE_BLUE;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(112,112,112,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(112,112,112,1);
    box-shadow: 0px 1px 5px 0px rgba(112,112,112,1);

    .header-icon {
    
        a {
            color: $white;
        }
    }

    .header-icon i {
        line-height:4rem;
        padding-left: 1rem;
        font-weight:900;
        font-size:200%;
    }

    .header-title {
        text-align:center;

        .title {
            line-height:4rem;
            font-size:100%;

            a {
                color: $white;
            }
        }
    }

    app-menu {
        padding-right:1rem;
    }
}