<form (ngSubmit)="onSubmit()" [formGroup]="mailForm">
  
  <label>
    <mat-form-field hintLabel="yourname@example.com">
        <mat-icon matPrefix>face</mat-icon>
      <input matInput 
             type="text" 
             formControlName="sender"
             tabindex="1" 
             required 
             placeholder="&nbsp;Your email adress" 
             title="Enter your email adress.">
      <mat-error *ngIf="mailForm.get('sender').invalid">{{getSenderErrorMessage()}}</mat-error>
    </mat-form-field>
  </label>

  <label>
    <mat-form-field>
      <mat-icon matPrefix>subject</mat-icon>
      <input matInput 
             type="text" 
             tabindex="2" 
             required 
             placeholder="&nbsp;Subject"
             title="Write a subject."
             minlength="4"
             maxlength="110"
             formControlName="subject">
      <mat-error *ngIf="mailForm.get('subject').invalid">{{getSubjectErrorMessage()}}</mat-error>
      <mat-hint align="end">{{mailForm.get('subject').value.length || 0}}/100</mat-hint>
    </mat-form-field>
  </label>

  <label>
    <mat-form-field>
      <mat-icon matPrefix>message</mat-icon>
      <textarea matInput 
                tabindex="3" 
                required 
                placeholder="&nbsp;Leave a message" 
                title="Leave your message."
                formControlName="message"
                minlength="4"
                maxlength="510"></textarea>
      <mat-error *ngIf="mailForm.get('message').invalid">{{getMessageErrorMessage()}}</mat-error>
      <mat-hint align="end">{{mailForm.get('message').value.length || 0}}/500</mat-hint>
    </mat-form-field>
  </label>

  <button type="submit" mat-button tabindex="4" title="Submit the form and send the message.">Send&nbsp;<mat-icon>send</mat-icon></button>
</form>
