<form [formGroup]="mailForm">
  
  <label>
    <mat-form-field>
        <mat-icon matPrefix>face</mat-icon>
      <input matInput type="text" formControlName="sender" tabindex="1" placeholder=" Your email adress">
    </mat-form-field>
  </label>

  <label>
    <mat-form-field>
      <mat-icon matPrefix>subject</mat-icon>
      <input matInput type="text" formControlName="subject" tabindex="2" placeholder=" Subject">
    </mat-form-field>
  </label>

  <label>
    <mat-form-field>
      <mat-icon matPrefix>message</mat-icon>
      <textarea matInput formControlName="message" tabindex="3" placeholder=" Leave a message"></textarea>
    </mat-form-field>
  </label>

</form>
