@import '../../../../scss/styles.scss';

form {

    display:flex;
    flex-flow:column;
    justify-content: flex-start;
    padding:0.5rem;
    color: $black;
    background: $white;

    label {

        display:flex;
        flex-flow: column;
        justify-content: flex-start;
        padding:1rem;

        div {
            display:flex;
            flex-flow: row wrap;
            justify-content: flex-start;

            span {
                padding-left:0.25rem;
            }
        }

        textarea {
            height:5rem;
            resize: vertical;
        }
    }
}