@import '../../../scss/styles.scss';

.home {
    width:100%;
    margin-bottom:10rem;

    .main {
        display:flex;
        flex-flow: column;
        justify-content: flex-start;
        height:100%;
        margin-top:5rem;

        .main-item {
            flex:1;
            display:flex;
            flex-flow:row wrap;
            justify-content: flex-start;
            width:75%;
            margin:0 auto;
            overflow:hidden;

            @media (min-width:320px) and (max-width:961px) {margin-bottom:4rem;}
            @media (min-width:961px) {margin-bottom:2rem;}

            .title {
                padding-top:2rem;
                padding-left:2rem;
                color: $white;
                font-family: 'Poppins', sans-serif;
                font-weight:900;
                font-size:100%;
                text-transform: uppercase;

                @media (min-width:320px) and (max-width:961px) {text-align: center;}
                @media (min-width:961px) {text-align: left;}
            }
            
            .text {

                p {
                    margin-top:1rem;
                    padding-left:2rem;
                    text-align: left;
                    font-family: 'Questrial', sans-serif;
                    font-size:100%;
                    font-weight:500;
                    color: $white;
                    line-height:1.25rem;
                }

                .controls {
                    display:flex;
                    flex-flow:row wrap;
                    justify-content:flex-end;

                    .link {
                        margin-top: 1rem;
                        margin-right: 0.25rem;
                        padding: 0.5rem 1rem;
                        text-transform: uppercase;
                        color: $white;
                        background: $JAPANESE_INDIGO;
                        transition: all .2s;

                        &:hover {
                            cursor: pointer;
                            color: $white;
                            background: $PERSIAN_GREEN;
                        }
                    }
                }
            }
            
            .image {
                width:30%;
                @media (min-width:320px) and (max-width:961px) {
                    margin: 0 auto;
                }

                img {
                    @media (min-width:320px) and (max-width:961px) {
                        max-width:100%;
                    }
                    @media (min-width:961px) {
                        float:right;
                        width:50%;
                    }
                }
            }

            .content {
                @media (min-width:320px) and (max-width:961px) {width:100%;}
                @media (min-width:961px) {width:50%;}

                color: $white;
                border-top:1px solid $grey;

                animation: 7s fadeIn;
            }

            .intro {
                border:none;
                animation: 1s fadeIn;
            }
        }
    }
}