<div class="home">

    <div class="page-title"><span>Home</span></div>

    <div class="thunder">
        <canvas id="canvas1"></canvas>
        <canvas id="canvas2"></canvas>
        <canvas id="canvas3"></canvas>
    </div>

    <div class="main">  

            <div class="main-item">

                <div class="image"></div>

                <div class="content intro">

                        <div class="title">Litening</div>
                        <div class="text">
                            <p>
                                Litening is a Web Development company that builds web solutions.
                            </p>
                        </div>
                </div>
            </div>

        <div class="main-item">

            <div class="image animate-right-cubic-slow">
                <img src="assets/images/ruben-hazenbosch.jpg">
            </div>

            <div class="content">
            
                <div class="title">The Developer.</div>
                <div class="text">
                    <p>
                        Ruben Hazenbosch, 32 years old, Web/Software Developer.
                        Born in Haarlem, Netherlands.
                        Living in Holzdorf, Germany.
                    </p>

                    <div class="controls">
                        <a class="link" routerLink="/contact" routerLinkActive="active" title="Go to Contact.">Contact</a>
                        <a class="link" routerLink="/about" routerLinkActive="active" title="Go to About Me.">About Me</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-item">

            <div class="image animate-right-cubic-slow">
                <img src="assets/images/web-developer.jpg">
            </div>

            <div class="content">
                <div class="title">What I work with.</div>
                <div class="text">
                    <p>
                        PHP 7.2, Laravel, Javascript, ECMAScript 6 Modules, Ajax, Angular, CSS3, SASS and much, much more!
                    </p>

                    <div class="controls">
                        <a class="link" routerLink="/work" routerLinkActive="active" title="Go to My Work.">My Work</a>
                        <a class="link" routerLink="/qualities" routerLinkActive="active" title="Go to Qualities.">Qualities</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-item">

            <div class="image animate-right-cubic-slow">
                <img src="assets/images/laravel.jpg">
            </div>

            <div class="content">
                <div class="title">I use the Laravel Framework.</div>
                <div class="text">
                    <p>
                        Fast, reliable and scalable development with automated Unit Testing.
                        Easy integration, secure authentication and wide support.
                    </p>

                    <div class="controls">
                        <a class="link" href="https://laravel.com/" target="_blank" title="Go to Laravel.">Laravel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
