<div class="home">

    <div class="page-title"><span>Home</span></div>

    <div class="main">  

        <div class="developer animate-right-cubic-slow">
          
          <div class="title">The Developer.</div>
          <div class="text">
              <p>
                  Ruben Hazenbosch, 32 years old, Web/Software Developer.
                  <br>
                  Born in Haarlem, Netherlands.
                  Living in Holzdorf, Germany.
              </p>
              <a class="link" routerLink="/about" routerLinkActive="active" title="Go to About Me.">About Me</a>
          </div>
        </div>

        <div class="developer-image animate-right-cubic-fast">
          <img src="assets/images/ruben-hazenbosch.jpg">
        </div>

        <div class="intro animate-left-cubic-slow">
          <div class="title">What I work with.</div>
          <div class="text">
              <p>
                  PHP 7.2, Laravel, Javascript, ECMAScript 6 Modules, Ajax, Angular, CSS3, SASS and much, much more!
              </p>
              <a class="link" routerLink="/work" routerLinkActive="active" title="Go to My Work.">My Work</a>
              <a class="link" routerLink="/qualities" routerLinkActive="active" title="Go to Qualities.">Qualities</a>
          </div>
        </div>

        <div class="intro-image animate-left-cubic-fast">
          <img src="assets/images/web-developer.jpg">
        </div>

        <div class="content animate-right-cubic-slow">
          <div class="title">I use the Laravel Framework.</div>
          <div class="text">
              <p>
                  Fast, reliable and scalable development with automated Unit Testing.
                  <br>
                  Easy integration, secure authentication and wide support.
              </p>
              <a class="link" href="https://laravel.com/" target="_blank" title="Go to Laravel.">Laravel</a>
          </div>
        </div>

        <div class="content-image animate-right-cubic-fast">
          <img src="assets/images/laravel.jpg">
        </div>
    </div>
</div>
