<div class="work">

	<div class="page-title"><span>My Work</span></div>

	<div class="work">
		
		<div class="title">History</div>

		<div class="items">

			<div class="item">

				<div class="image">
					<img src="assets/images/city-wok.jpg">
				</div>

				<div class="title">
					<div class="header">2003 - 2015</div>
					<div class="text">Chef</div>
				</div>

				<div class="text">
					<p>
						After High school I started working in a restaurant. A position opened for a Chef and I took it.
						I worked in many restaurants, beach clubs and bars for twelve years. The social part of the 
						nightlife always attracted me, the atmosphere is very alive and you never get bored.
					</p>
				</div>
			</div>

			<div class="item">

				<div class="image">
					<img src="assets/images/school.png">
				</div>

				<div class="title">
					<div class="header">2015 - 2017</div>
					<div class="text">Student life</div>
				</div>

				<div class="text">
					<p>
						Programming became more then a hobby. After 4 years I decided to do a career switch and went
						back to school. The education: Application- and Media Developer at Nova College Haarlem made me 
						an official Web Developer.
					</p>
				</div>
			</div>

			<div class="item">

				<div class="image">
					<img src="assets/images/quaratio-logo.png">
				</div>

				<div class="title">
					<div class="header">2016 - 2018</div>
					<div class="text">Quaratio</div>
				</div>

				<div class="text">
					<p>
						The internship at Quaratio B.V. turned into a Full-time job and I learned working with the
						Laravel Framework. Quaratio is a company specialized in IT solutions for the financial 
						market.
					</p>
				</div>
			</div>

			<div class="item">

				<div class="image">
					<img src="assets/images/df-automotive.jpg">
				</div>

				<div class="title">
					<div class="header">2018 - now</div>
					<div class="text">DF Automotive</div>
				</div>

				<div class="text">
					<p>
						Germany was my next stop and I found a job at DF Automotive, a company that sells tuning parts 
						for cars. The tuning business in Germany is very big. They have multiple shops like
						<a href="https://www.felgenshop.de/" target="blank" title="www.felgenshop.de">www.felgenshop.de</a>,
						<a href="https://www.sportauspuff-billiger.de" target="blank" title="www.sportauspuff-billiger.de">www.sportauspuff-billiger.de</a>,
						<a href="https://www.sportfahrwerk-billiger.de/" target="blank" title="www.sportfahrwerk-billiger.de">www.sportfahrwerk-billiger.de</a>
						<br><br>
						My work here is to develop solutions for the internal system.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
