.page-title {

    width:20%;
    margin: 0 auto;
    margin-top: 2rem;
    padding:1rem;
    font-weight:900;
    font-size:110%;
    color: $blueberry;
    text-align:center;
    border-bottom: 1px solid $blueberry;
}