// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// -----------------------------------------------------------------------------
// Color Palette
// -----------------------------------------------------------------------------
$JET            : #33312E;
$DARK_SLATE_BLUE: #3D3A8E;
$PERSIAN_GREEN  : #17A398;
$JAPANESE_INDIGO: #28464B;
$RUBY_RED       : #931621;
// -----------------------------------------------------------------------------


// Colors
$blue: #3490dc;
$blueberry: #3d52a9;

$black: #000000;
$softBlack: #404040;

$white: #ffffff;

$softgrey: #b6b6b6;
$lightgrey: #dee0df;
$grey: #8c8c8c;

$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$turqouise: #009687;
