@import '../../../scss/styles.scss';

.menu {
    position:fixed;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1rem;
    width:45rem;
    top:7rem;
    right: -30rem;
    z-index:10000;
    font-family: 'Poppins', sans-serif;

    .link {
        grid-column: 1;
        grid-row: 1; 
        width:100%;

        .icon {
            float:right;
            position: relative;
            width: 40px;
            height: 25px;
            margin-right:2rem;
            transform: rotate(0deg);
            transition: .5s ease-in-out;
            cursor: pointer;
        }
        
        .icon span {
            display: block;
            position: absolute;
            height: 7px;
            width: 100%;
            background: #000000;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }
        
        .icon span:nth-child(1) {
            top: 0px;
        }
        
        .icon span:nth-child(2) {
            top: 11px;
        }
        
        .icon span:nth-child(3) {
            top: 22px;
        }
        
        .icon.open span:nth-child(1) {
            top: 10px;
            transform: rotate(135deg);
        }
        
        .icon.open span:nth-child(2) {
            opacity: 0;
            left: -60px;
        }
        
        .icon.open span:nth-child(3) {
            top: 11px;
            transform: rotate(-135deg);
        }
        
        .icon.open span:nth-child(1) {
            top: 11px;
            transform: rotate(135deg);
        }
        
        .icon.open span:nth-child(2) {
            opacity: 0;
            left: -60px;
        }
        
        .icon.open span:nth-child(3) {
            top: 11px;
            transform: rotate(-135deg);
        }
    }

    .items {
        grid-column: 3;
        grid-row: 3;
        display:grid;
        grid-template-columns: 100%;
        grid-row-gap: 0.25rem;
    
        .item {
            display: grid;
            grid-template-columns: 25% 75%;
            height:2rem;
            padding: 0.5rem 1rem;
            padding-right:-1rem;
            color: $white;
            text-transform: uppercase;
            background: $blueberry;
            border:1px solid $blueberry;
            border-right:none;
            transition: all .2s ease-in-out;
            
            &:hover {
                padding-right: 2rem;
                cursor: pointer;
                color: $blueberry;
                background: $white;
            }
    
            .icon i {
                line-height:2rem;
                font-size:150%;
                text-align:left;
            }
        
            .text {
                line-height:2rem;
                padding-top: 0.25rem;
                text-align:right;
            }
        }
    
        .active {
            color: $blueberry;
            background: $white;
        }
    }
}