<div class="menu" id="menu">

  <div class="link" id="menu-link">

        <div class="title">Menu</div>
        <div class="icon" id="menu-icon" (click)="toggleMenu()" title="Open the menu.">
            <span></span>
            <span></span>
            <span></span>
        </div>
  </div>

  <div class="items" id="menu-items">
      <div class="item menu-item" id="menu-home" routerLink="/home" routerLinkActive="active">
          <div class="icon"><i class="material-icons">home</i></div>
          <div class="text">Home</div>
      </div>
      <div class="item menu-item" id="menu-demo" routerLink="/demo" routerLinkActive="active">
          <div class="icon"><i class="material-icons">play_arrow</i></div>
          <div class="text">Demo</div>
      </div>
      <div class="item menu-item" id="menu-about" routerLink="/about" routerLinkActive="active">
          <div class="icon"><i class="material-icons">face</i></div>
          <div class="text">About Me</div>
      </div>
      <div class="item menu-item" id="menu-work" routerLink="/work" routerLinkActive="active">
          <div class="icon"><i class="material-icons">work</i></div>
          <div class="text">My Work</div>
      </div>
      <div class="item menu-item" id="menu-qualities" routerLink="/qualities" routerLinkActive="active">
          <div class="icon"><i class="material-icons">equalizer</i></div>
          <div class="text">Qualities</div>
      </div>
      <div class="item menu-item" id="menu-contact" routerLink="/contact" routerLinkActive="active">
          <div class="icon"><i class="material-icons">email</i></div>
          <div class="text">Contact</div>
      </div>
  </div>
</div>
