@import '../../../scss/styles.scss';

.menu {
    margin-left:auto;
    z-index:10000;
    font-family: 'Poppins', sans-serif;

    .link {
        clear:both;
        float:right;
        width:100%;
        margin-right: 0.5rem;

        .icon {
            width: 40px;
            height: 22px;
            margin-top:1.25rem;
            transform: rotate(0deg);
            transition: .5s ease-in-out;
            cursor: pointer;
        }

        .icon:hover > span {
            background: $white;
        }
        
        .icon span {
            display: block;
            position: absolute;
            height: 0.05rem;
            width: 100%;
            background: $white;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            border:1px solid $white;
        }
        
        .icon span:nth-child(1) {
            top: 0rem;
        }
        
        .icon span:nth-child(2) {
            top: 0.7rem;
        }
        
        .icon span:nth-child(3) {
            top: 1.4rem;
        }
        
        .icon.open span:nth-child(1) {
            top: 1rem;
            transform: rotate(135deg);
        }
        
        .icon.open span:nth-child(2) {
            opacity: 0;
            left: -60px;
        }
        
        .icon.open span:nth-child(3) {
            top: 0.5rem;
            transform: rotate(-135deg);
        }
        
        .icon.open span:nth-child(1) {
            top: 0.5rem;
            transform: rotate(135deg);
        }
        
        .icon.open span:nth-child(2) {
            opacity: 0;
            left: -60px;
        }
        
        .icon.open span:nth-child(3) {
            top: 0.5rem;
            transform: rotate(-135deg);
        }
    }

    .items {
        position: fixed;
        top:5rem;
        right:-30rem;
        width:15rem;

        .item {
            display:flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            height:2rem;
            padding: 0.5rem 1rem;
            padding-right: 1rem;
            color: $white;
            text-transform: uppercase;
            background: $DARK_SLATE_BLUE;
            border:1px solid $DARK_SLATE_BLUE;
            border-right:none;
            transition: all .1s ease-in-out;
    
            &:hover {
                cursor:pointer;
                color: $DARK_SLATE_BLUE;
                background: $white;
            }

            .icon i {
                line-height:2rem;
                font-size:150%;
                text-align:left;
            }
        
            .text {
                line-height:2rem;
                padding-top: 0.25rem;
                text-align:right;
            }
        }
    
        .active {
            color: $DARK_SLATE_BLUE;
            background: $white;
        }
    }

    .menu-right-position {
        right:0;
    } 
}