.animate-left-cubic-fast {
    animation-delay: 2s;
    animation: .3s leftCubic cubic-bezier(.86,0,.07,1) 0.2s both;
}

.animate-left-cubic-slow {
    animation-delay: 2s;
    animation: .7s leftCubic cubic-bezier(.86,0,.07,1) 0.4s both;
}

.animate-right-cubic-fast { 
    animation-delay: 2s;
    animation: .3s rightCubic cubic-bezier(.86,0,.07,1) 0.2s both; 
}

.animate-right-cubic-slow { 
    animation-delay: 2s;
    animation: 0.7s rightCubic cubic-bezier(.86,0,.07,1) 0.4s both; 
}

@keyframes leftCubic {
    0% { transform: translate(50vw); }
    20% { opacity: 1; }
    100% { transform: 0; }
}

@keyframes rightCubic { 
    0% { transform: translate(-50vw); opacity:0;}
    100% { transform: 0; opacity: 1; }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}